* {
    box-sizing: border-box;
}

#play-board {
  padding: 30px;
  width: 100%;
}

.box{
  float: left;
  width: 2%;
  background: black;
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%;
}


#monster {
  max-height: 100%;
  max-width: 100%;
}
